.seccionIzquierda {
    text-align: center;
    font-weight: bold;
    text-align: center; padding: 3% 3% 3% 3%;
}

.seccionDerecha {
    text-align: center;
    padding: 2% 5% 2% 5%;
}

mat-form-field, button{
    width: 100%
}

.derecha {
    text-align: right;
}

.formulario{
    border: 1.5px solid var(--color-7); 
    padding: 5%; 
    border-radius: var(--border-radius-3);
    background-color: #F2F2F2;
    box-shadow: 5px 5px 10px #888888;
}
/*div {
    border: 2px solid;
    border-color: red;
}*/