/*div {
    border: 2px solid;
    border-color: red;
}*/

.seccionIzquierda {
    text-align: right;
    font-weight: bold;
    justify-content: center;
    padding-right: 1%;
}

.seccionDerecha {
    padding-left: 1%;
}

.contenido {
    margin: 2% 5% 2% 5%;
}

h1 {
    font-weight: bold;
    text-align: center;
}

legend {
    font-weight: bold;
    font-size: 22px;
}

fieldset{
    border-radius: 10px;
}

.listado {
    text-align: center;
}

mat-form-field,
button {
    height: 60px;
}

mat-form-field {
    width: 60%;
}

label {
    font-weight: bold;
}

.amarillo {
    background-color: #F1CD3B !important;
}

.verdeClaro {
    background-color: rgb(179, 213, 222);
    padding-left: 2px;
    padding-top: 5px;
}

.gris {
    background-color: rgb(219, 226, 236);
    padding-left: 2px;
    padding-top: 5px;
}

.verdeOscuro {
    background-color: rgb(2, 129, 128);
    padding-left: 2px;
    padding-top: 5px;
}