<br />
<h1>Consulta de afiliación</h1>
<form class="formulario" (ngSubmit)="consultar()" [formGroup]="formulario">
    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" style="width: 100%;">
        <div fxFlex="70%" class="seccionIzquierda">
            <mat-form-field appearance="outline">
                <mat-icon matSuffix>search</mat-icon>
                <mat-label>Documento</mat-label>
                <input matInput placeholder="Ingrese un numero de documento" formControlName="cliente">
            </mat-form-field>
        </div>
        <div fxFlex="30%" class="seccionDerecha">
            <button mat-raised-button color="primary" [disabled]="formulario.invalid">Buscar</button>
        </div>
    </div>
</form>
<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" style="width: 100%;" *ngIf="consulta">
    <div fxFlex="100%" class="contenido">
        <mat-accordion class="example-headers-align" multi>
            <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h2>Datos personales</h2>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="25%">
                        <label># Contrato</label>
                        <p>{{ consulta?.contrato?.id }}</p>
                    </div>
                    <div fxFlex="25%">
                        <label>Documento</label>
                        <p>{{ consulta?.cliente?.documento }}</p>
                    </div>
                    <div fxFlex="25%">
                        <label>Nombre completo</label>
                        <p>{{ consulta?.cliente?.nombre_completo }}</p>
                    </div>
                    <div fxFlex="25%">
                        <label>Estado</label>
                        <p>{{ consulta?.contrato?.mora ? 'En mora' : 'Al día' }}</p>
                    </div>
                </div>
                <div fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="25%">
                        <label>Dirección</label>
                        <p>{{ consulta?.cliente?.direccion }}</p>
                    </div>
                    <div fxFlex="25%">
                        <label>Correo</label>
                        <p>{{ consulta?.cliente?.correo }}</p>
                    </div>
                    <div fxFlex="25%">
                        <label>Celular</label>
                        <p>{{ consulta?.cliente?.celular }}</p>
                    </div>
                    <div fxFlex="25%">
                        <label>Telefono</label>
                        <p>{{ consulta?.cliente?.telefono }}</p>
                    </div>
                </div>

                <div fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="25%">
                        <label>Ciudad</label>
                        <p>{{ consulta?.cliente?.ciudad }}</p>
                    </div>
                    <div fxFlex="25%">
                        <label>Grado</label>
                        <p>{{ consulta?.cliente?.grado }}</p>
                    </div>
                    <div fxFlex="25%">
                        <label>Codigo</label>
                        <p>{{ consulta?.cliente?.codigo }}</p>
                    </div>
                    <div fxFlex="25%">
                        <label>Pertenece</label>
                        <p>{{ consulta?.cliente?.dependencia }}</p>
                    </div>
                </div>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h2>Beneficiarios</h2>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div>
                    <table mat-table [dataSource]="dataSource" matSort>

                        <!-- ID Column -->
                        <ng-container matColumnDef="nombre">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                            <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
                        </ng-container>

                        <!-- Progress Column -->
                        <ng-container matColumnDef="edad">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Edad </th>
                            <td mat-cell *matCellDef="let row"> {{row.edad}} años </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="parentesco">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Parentesco </th>
                            <td mat-cell *matCellDef="let row"> {{row.parentesco}} </td>
                        </ng-container>

                        <ng-container matColumnDef="contacto">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Contacto </th>
                            <td mat-cell *matCellDef="let row"> {{row.contacto}} </td>
                        </ng-container>

                        <!-- Fruit Column -->
                        <ng-container matColumnDef="emoji">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
                            <td mat-cell *matCellDef="let row"> {{row.emoji}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>

                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"
                        aria-label="Select page of users"></mat-paginator>
                </div>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h2>Plan</h2>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="25%">
                        <label>Fecha de inicio</label>
                        <p>{{ consulta?.contrato?.fecha_inicio }}</p>
                    </div>
                    <div fxFlex="25%">
                        <label>Tipo de plan</label>
                        <p>{{ consulta?.contrato?.plan }}</p>
                    </div>
                    <div fxFlex="25%">
                        <label>Costo total</label>
                        <p>${{ consulta?.contrato?.valor }}</p>
                    </div>
                    <div fxFlex="25%">
                        <label># de cuotas</label>
                        <p>{{ consulta?.contrato?.cuotas }}</p>
                    </div>
                </div>
                <div fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="25%">
                        <label>Valor mensual</label>
                        <p>${{ consulta?.contrato?.valor / consulta?.contrato?.cuotas  }}</p>
                    </div>
                    <div fxFlex="25%">
                        <label>Soporte fisico</label>
                        <p>Boton descarga</p>
                    </div>
                    <div fxFlex="50%">
                    </div>
                </div>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h2>Historico de servicios</h2>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="mat-elevation-z8">
                    <table mat-table [dataSource]="servicios" matSort>

                        <!-- ID Column -->
                        <ng-container matColumnDef="secuencia">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
                            <td mat-cell *matCellDef="let row"> {{row.secuencia}} </td>
                        </ng-container>

                        <!-- Progress Column -->
                        <ng-container matColumnDef="fecha_inicial">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
                            <td mat-cell *matCellDef="let row"> {{row.fecha_inicial}} </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="tipo">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </th>
                            <td mat-cell *matCellDef="let row"> {{row.tipo}} </td>
                        </ng-container>

                        <ng-container matColumnDef="fecha_final">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
                            <td mat-cell *matCellDef="let row"> {{row.fecha_final ? 'Cerrado' : 'Abierto'}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="columasServicio"></tr>
                        <tr mat-row *matRowDef="let row; columns: columasServicio;"></tr>
                    </table>

                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"
                        aria-label="Select page of users"></mat-paginator>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>
<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" style="width: 100%;" *ngIf="consulta">
    <div fxFlex="50%" class="seccionIzquierda">
        <button mat-raised-button color="warn" routerLink="modificar">
            Modificar
            <mat-icon>edit</mat-icon>
        </button>
    </div>
    <div fxFlex="50%" class="seccionDerecha">
        <button mat-raised-button color="primary">
            Pagos
            <mat-icon>payments</mat-icon>
        </button>
    </div>
</div>