<br />
<h1>Consulta de afiliación</h1>
<form class="formulario" (ngSubmit)="consultar()" [formGroup]="formulario">
    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" style="width: 100%;">
        <div fxFlex="70%" class="seccionIzquierda">
            <mat-form-field appearance="outline">
                <mat-icon matSuffix>search</mat-icon>
                <mat-label>Documento</mat-label>
                <input matInput placeholder="Ingrese un numero de documento" formControlName="cliente">
                <mat-hint *ngIf="!resultados">
                    <strong style="color: crimson">No se encontrarón resultados</strong>
                </mat-hint>
            </mat-form-field>
        </div>
        <div fxFlex="30%" class="seccionDerecha">
            <button mat-raised-button color="primary" [disabled]="formulario.invalid">Buscar</button>
        </div>
    </div>
</form>
<!--div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" style="width: 100%;"
    *ngIf="consulta && !seleccion">
    <div fxFlex="100%" class="contenido">
        <ng-container *ngFor="let item of consulta.subcontratos">
            <div>
                <div fxFlex="16%" class="listado">
                    <label>Subcontrato</label>
                    <p>{{ item.id }}</p>
                </div>
                <div fxFlex="16%" class="listado">
                    <label>Plan</label>
                    <p>{{ item.plan }}</p>
                </div>
                <div fxFlex="16%" class="listado">
                    <label>Valor</label>
                    <p>${{ item.valor | number:'1.2-2' }}</p>
                </div>
                <div fxFlex="16%" class="listado">
                    <label>Cuotas</label>
                    <p>{{ item.cuotas }}</p>
                </div>
                <div fxFlex="16%" class="listado">
                    <label>Estado</label>
                    <p [style.color]="item.estado ? item.mora ? '#B40404' : '#088A29' : '083F8A'"
                        style="font-weight: bold;">{{ item.estado ? item.mora ? 'En mora' : 'Al día' : 'Cerrado'}}</p>
                </div>
                <div class="listado">
                    <button mat-raised-button color="primary" (click)="consultarDetalleSubContrato(item)">
                        Ver
                        <mat-icon matSuffix>open_in_new</mat-icon>
                    </button>
                </div>
            </div>
        </ng-container>
    </div>
</div-->
<br>
<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center top" style="width: 100%; margin-right: 10px;"
    *ngIf="consulta">
    <div fxFlex="40%">
        <fieldset>
            <legend class="legend">Titular</legend>
            <div fxLayout="row" fxLayout.xs="column">
                <div fxFlex="35%" class="verdeClaro">
                    <p><label># Subcontrato:</label></p>
                    <p><label>Estado</label></p>
                    <p><label>Documento:</label></p>
                    <p><label>Nombre:</label></p>
                    <p><label>Celular:</label></p>
                    <p><label>Telefono:</label></p>
                    <p><label>Correo:</label></p>
                    <p><label>Dirección:</label></p>
                    <p><label>Pagaduria:</label></p>
                    <p><label>Grado:</label></p>
                    <p><label>Plan:</label></p>
                </div>
                <div fxFlex="65%" class="gris">
                    <div [formGroup]="fgSubcontrato">
                        <p>
                            <mat-select name="tipo" formControlName="subcontrato" (selectionChange)="cambiarSubcontrato()">
                                <mat-option *ngFor="let sub of consulta.subcontratos" [value]="sub">
                                    {{sub.id}}
                                </mat-option>
                            </mat-select>
                        </p>
                    </div>

                    <p [style.color]="consulta?.subcontrato?.estado ? consulta?.subcontrato?.mora ? '#B40404' : '#088A29' : '083F8A'"
                        style="font-weight: bold;">{{ consulta?.subcontrato?.estado ? consulta?.subcontrato?.mora ? 'En
                        mora' : 'Al día' : 'Cerrado'}}</p>
                    <p>{{ consulta?.cliente?.documento }}</p>
                    <p>{{ consulta?.cliente?.nombre_completo }}</p>
                    <p>{{ consulta?.subcontrato?.celular ? consulta?.subcontrato?.celular : 'N/A'}}</p>
                    <p>{{ consulta?.subcontrato?.telefono ? consulta?.subcontrato?.telefono : 'N/A'}}</p>
                    <p>{{ consulta?.subcontrato?.correo ? consulta?.subcontrato?.correo : 'N/A'}}</p>
                    <p>{{ consulta?.subcontrato?.direccion ? consulta?.subcontrato?.direccion : 'N/A'}}</p>
                    <p>{{ consulta?.subcontrato?.dependencia }}</p>
                    <p>{{ consulta?.subcontrato?.grado }}</p>
                    <p>{{ consulta?.subcontrato?.plan }}</p>
                </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column">
                <div fxFlex="35%" class="verdeOscuro">
                    <p><label>Cuota:</label></p>
                </div>
                <div fxFlex="65%" class="verdeOscuro">
                    <p>${{ consulta?.subcontrato?.valor | number:'1.0-0' }}</p>
                </div>
            </div>
        </fieldset>
    </div>
    <div fxFlex="2%"></div>
    <div fxFlex="48%">
        <fieldset>
            <legend>Beneficiarios</legend>
            <div>
                <table mat-table [dataSource]="beneficiarios" matSort>

                    <!-- ID Column -->
                    <ng-container matColumnDef="nombre">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                        <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
                    </ng-container>

                    <!-- Progress Column -->
                    <ng-container matColumnDef="edad">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Edad </th>
                        <td mat-cell *matCellDef="let row"> {{row.edad}} años </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="parentesco">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Parentesco </th>
                        <td mat-cell *matCellDef="let row"> {{row.parentesco}} </td>
                    </ng-container>

                    <ng-container matColumnDef="estado">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
                        <td mat-cell *matCellDef="let row"> {{row.estado ? "Activo" : "Inactivo"}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <mat-paginator #pgtBeneficiario [pageSizeOptions]="[5, 10, 25, 100]"
                    aria-label="Select page of users"></mat-paginator>
            </div>
            <div fxLayout="row" fxLayout.xs="column">
                <div fxFlex="100%" class="verdeOscuro" style="text-align: center;">
                    <p><label>Mascota: ${{ consulta?.subcontrato?.mascota | number:'1.0-0'}} / Adicional: ${{
                            consulta?.subcontrato?.adicional | number:'1.0-0'}}</label></p>
                </div>
            </div>
        </fieldset>
    </div>
</div>
<br>
<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" style="width: 100%; margin-right: 10px;"
    *ngIf="seleccion">
    <div fxFlex="90%">
        <fieldset>
            <legend class="legend">Servicios</legend>
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="servicios" matSort>

                    <ng-container matColumnDef="secuencia">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
                        <td mat-cell *matCellDef="let row"> {{row.secuencia}} </td>
                    </ng-container>

                    <ng-container matColumnDef="fecha_inicial">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
                        <td mat-cell *matCellDef="let row"> {{row.fecha_inicial | date:'dd/MM/yyyy'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="tipo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </th>
                        <td mat-cell *matCellDef="let row"> {{row.tipo}} </td>
                    </ng-container>

                    <ng-container matColumnDef="detalle">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Detalle </th>
                        <td mat-cell *matCellDef="let row"> {{row.detalle_inicial}} </td>
                    </ng-container>

                    <ng-container matColumnDef="fecha_final">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
                        <td mat-cell *matCellDef="let row"> {{row.fecha_final ? 'Cerrado' : 'En curso'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="consulta">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                        <td mat-cell *matCellDef="let row">
                            <button mat-mini-fab color="primary" (click)="verDetalleCierre(row)" style="height: 40px;">
                                <mat-icon>search</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="columasServicio"></tr>
                    <tr mat-row *matRowDef="let row; columns: columasServicio;"></tr>
                </table>

                <mat-paginator #pgtServicioCerrado [pageSizeOptions]="[5, 10, 25, 100]"
                    aria-label="Numero de paginas"></mat-paginator>
            </div>
        </fieldset>
    </div>
</div>
<br>
<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" style="width: 100%; margin-right: 10px;"
    *ngIf="seleccion">
    <div fxFlex="90%">
        <fieldset>
            <legend class="legend">Información adicional</legend>
            <div fxLayout="row" fxLayout.xs="column">
                <div fxFlex="25%">
                    <label>Fecha de inicio</label>
                    <p>{{ consulta?.subcontrato?.fecha_inicio | date:'dd/MM/yyyy' }}</p>
                </div>
                <div fxFlex="25%">
                    <label>Valor total</label>
                    <p>${{ consulta?.subcontrato?.valor_total | number:'1.0-0'}}</p>
                </div>
                <div fxFlex="25%">
                    <label># de cuotas</label>
                    <p>{{ consulta?.subcontrato?.cuotas }}</p>
                </div>
                <div fxFlex="25%">
                    <label>Soporte fisico</label>
                    <br>
                    <button mat-raised-button color="primary" (click)="previsualizarSoporte()">
                        Ver
                        <mat-icon>visibility</mat-icon>
                    </button>
                    <br>
                    <pdf-viewer [src]="pdfSoporte"></pdf-viewer>
                </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column">
                <div fxFlex="25%">
                    <label>Mensualidad total</label>
                    <p>${{ mensualidadTotal | number:'1.0-0'}}</p>
                </div>
                <div fxFlex="25%">
                    <label>Carnet</label>
                    <br>
                    <button mat-raised-button color="primary" (click)="generarCarnet()">
                        Descargar
                        <mat-icon>account_box</mat-icon>
                    </button>
                    <br>
                    <pdf-viewer [src]="pdfSoporte"></pdf-viewer>
                </div>
                <div fxFlex="25%" *ngIf="!consulta?.subcontrato?.estado">
                    <label>Fecha de cierre</label>
                    <p>{{ consulta?.subcontrato?.cierre?.fecha_fin | date:'dd/MM/yyyy'}}</p>
                </div>
                <div fxFlex="25%" *ngIf="!consulta?.subcontrato?.estado">
                    <label>Causal del cierre:</label>
                    <p>{{ consulta?.subcontrato?.cierre?.causal}}</p>
                </div>
            </div>
        </fieldset>
    </div>
</div>

<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" style="width: 100%;" *ngIf="seleccion">
    <div fxFlex="100%" class="contenido">
        <mat-accordion class="example-headers-align" multi>
            <!--mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h2>Datos personales</h2>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="25%">
                        <label># Subcontrato</label>
                        <p>{{ consulta?.subcontrato?.id }}</p>
                    </div>
                    <div fxFlex="25%">
                        <label>Documento</label>
                        <p>{{ consulta?.cliente?.documento }}</p>
                    </div>
                    <div fxFlex="25%">
                        <label>Nombre completo</label>
                        <p>{{ consulta?.cliente?.nombre_completo }}</p>
                    </div>
                    <div fxFlex="25%">
                        <label>Estado</label>
                        <p>{{ consulta?.subcontrato?.estado ? consulta?.subcontrato?.mora ? 'En mora' : 'Al día' :
                            'Cerrado'}}</p>
                    </div>
                </div>
                <div fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="25%">
                        <label>Dirección</label>
                        <p>{{ consulta?.subcontrato?.direccion }}</p>
                    </div>
                    <div fxFlex="25%">
                        <label>Correo</label>
                        <p>{{ consulta?.subcontrato?.correo }}</p>
                    </div>
                    <div fxFlex="25%">
                        <label>Celular</label>
                        <p>{{ consulta?.subcontrato?.celular }}</p>
                    </div>
                    <div fxFlex="25%">
                        <label>Telefono</label>
                        <p>{{ consulta?.subcontrato?.telefono }}</p>
                    </div>
                </div>

                <div fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="25%">
                        <label>Ciudad</label>
                        <p>{{ consulta?.subcontrato?.ciudad }}</p>
                    </div>
                    <div fxFlex="25%">
                        <label>Grado</label>
                        <p>{{ consulta?.subcontrato?.grado }}</p>
                    </div>
                    <div fxFlex="25%">
                        <label>Codigo</label>
                        <p>{{ consulta?.subcontrato?.codigo }}</p>
                    </div>
                    <div fxFlex="25%">
                        <label>Pagaduria</label>
                        <p>{{ consulta?.subcontrato?.dependencia }}</p>
                    </div>
                </div>
                <div fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="25%">
                        <label>Observaciones</label>
                        <p>{{ consulta?.subcontrato?.observaciones }}</p>
                    </div>
                </div>
            </mat-expansion-panel-->
            <!--mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h2>Beneficiarios</h2>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div>
                    <table mat-table [dataSource]="beneficiarios" matSort>
                        <ng-container matColumnDef="nombre">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                            <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
                        </ng-container>

                        
                        <ng-container matColumnDef="edad">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Edad </th>
                            <td mat-cell *matCellDef="let row"> {{row.edad}} años </td>
                        </ng-container>

                        
                        <ng-container matColumnDef="parentesco">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Parentesco </th>
                            <td mat-cell *matCellDef="let row"> {{homologarParentesco(row.parentesco)}} </td>
                        </ng-container>

                        <ng-container matColumnDef="contacto">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Contacto </th>
                            <td mat-cell *matCellDef="let row"> {{row.contacto}} </td>
                        </ng-container>

                        <ng-container matColumnDef="estado">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
                            <td mat-cell *matCellDef="let row"> {{row.estado ? "Activo" : "Inactivo"}} </td>
                        </ng-container>

                        <ng-container matColumnDef="adicional">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Adicional </th>
                            <td mat-cell *matCellDef="let row"> {{row.adicional ? "Si" : "No"}} </td>
                        </ng-container>

                        
                        <ng-container matColumnDef="emoji">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
                            <td mat-cell *matCellDef="let row"> <mat-icon matSuffix>{{row.emoji}}</mat-icon> </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>

                    <mat-paginator #pgtBeneficiario [pageSizeOptions]="[5, 10, 25, 100]"
                        aria-label="Select page of users"></mat-paginator>
                </div>
            </mat-expansion-panel-->
            <!--mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h2>Plan</h2>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="25%">
                        <label>Fecha de inicio</label>
                        <p>{{ consulta?.subcontrato?.fecha_inicio | date:'dd/MM/yyyy' }}</p>
                    </div>
                    <div fxFlex="25%">
                        <label>Tipo de plan</label>
                        <p>{{ consulta?.subcontrato?.plan }}</p>
                    </div>
                    <div fxFlex="25%">
                        <label>Valor mensual</label>
                        <p>${{ consulta?.subcontrato?.valor | number:'1.0-0' }}</p>
                    </div>
                    <div fxFlex="25%">
                        <label># de cuotas</label>
                        <p>{{ consulta?.subcontrato?.cuotas }}</p>
                    </div>
                </div>
                <div fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="25%">
                        <label>Valor total</label>
                        <p>${{ consulta?.subcontrato?.valor_total | number:'1.0-0'}}</p>
                    </div>
                    <div fxFlex="25%">
                        <label>Valor beneficiario</label>
                        <p>${{ consulta?.subcontrato?.adicional | number:'1.0-0'}}</p>
                    </div>
                    <div fxFlex="25%">
                        <label>Valor mascota</label>
                        <p>${{ consulta?.subcontrato?.mascota | number:'1.0-0'}}</p>
                    </div>
                    <div fxFlex="25%">
                        <label>Soporte fisico</label>
                        <br>
                        <button mat-raised-button color="primary" (click)="previsualizarSoporte()">
                            Ver
                            <mat-icon>visibility</mat-icon>
                        </button>
                        <br>
                        <pdf-viewer [src]="pdfSoporte"></pdf-viewer>
                    </div>
                </div>
                <div fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="25%">
                        <label>Mensualidad total</label>
                        <p>${{ mensualidadTotal | number:'1.0-0'}}</p>
                    </div>
                    <div fxFlex="25%">
                        <label>Valor beneficiario</label>
                        <p>${{ consulta?.subcontrato?.adicional | number:'1.0-0'}}</p>
                    </div>
                    <div fxFlex="25%">
                        <label>Carnet</label>
                        <br>
                        <button mat-raised-button color="primary" (click)="generarCarnet()">
                            Descargar
                            <mat-icon>account_box</mat-icon>
                        </button>
                        <br>
                        <pdf-viewer [src]="pdfSoporte"></pdf-viewer>
                    </div>
                    <div *ngIf="!consulta?.subcontrato?.estado">
                        <label>Fecha de cierre</label>
                        <p>{{ consulta?.subcontrato?.cierre?.fecha_fin | date:'dd/MM/yyyy'}}</p>
                    </div>
                </div>
                <div fxLayout="row" fxLayout.xs="column" *ngIf="!consulta?.subcontrato?.estado">
                    <div fxFlex="100%">
                        <label>Causal del cierre:</label>
                        <p>{{ consulta?.subcontrato?.cierre?.causal}}</p>
                    </div>
                </div>
            </mat-expansion-panel-->
            <!--mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h2>Servicios abiertos</h2>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="mat-elevation-z8">
                    <table mat-table [dataSource]="servicios" matSort>

                        <ng-container matColumnDef="secuencia">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
                            <td mat-cell *matCellDef="let row"> {{row.secuencia}} </td>
                        </ng-container>

                        <ng-container matColumnDef="fecha_inicial">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
                            <td mat-cell *matCellDef="let row"> {{row.fecha_inicial | date:'dd/MM/yyyy'}} </td>
                        </ng-container>

                        <ng-container matColumnDef="tipo">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </th>
                            <td mat-cell *matCellDef="let row"> {{row.tipo}} </td>
                        </ng-container>

                        <ng-container matColumnDef="detalle">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Detalle </th>
                            <td mat-cell *matCellDef="let row"> {{row.detalle_inicial}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="columasServicio"></tr>
                        <tr mat-row *matRowDef="let row; columns: columasServicio;"></tr>
                    </table>

                    <mat-paginator #pgtServcios [pageSizeOptions]="[5, 10, 25, 100]"
                        aria-label="Select page of users"></mat-paginator>
                </div>
            </mat-expansion-panel-->
            <!--mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h2>Servicios cerrados</h2>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="mat-elevation-z8">
                    <table mat-table [dataSource]="serviciosCerrados" matSort>

                        <ng-container matColumnDef="secuencia">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
                            <td mat-cell *matCellDef="let row"> {{row.secuencia}} </td>
                        </ng-container>

                        <ng-container matColumnDef="fecha_inicial">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
                            <td mat-cell *matCellDef="let row"> {{row.fecha_inicial | date:'dd/MM/yyyy'}} </td>
                        </ng-container>

                        <ng-container matColumnDef="tipo">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </th>
                            <td mat-cell *matCellDef="let row"> {{row.tipo}} </td>
                        </ng-container>

                        <ng-container matColumnDef="detalle">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Detalle </th>
                            <td mat-cell *matCellDef="let row"> {{row.detalle_inicial}} </td>
                        </ng-container>

                        <ng-container matColumnDef="consulta">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                            <td mat-cell *matCellDef="let row">
                                <button mat-mini-fab color="primary" (click)="verDetalleCierre(row)"
                                    style="height: 40px;">
                                    <mat-icon>search</mat-icon>
                                </button>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="columasServicioCerrado"></tr>
                        <tr mat-row *matRowDef="let row; columns: columasServicioCerrado;"></tr>
                    </table>

                    <mat-paginator #pgtServicioCerrado [pageSizeOptions]="[5, 10, 25, 100]"
                        aria-label="Select page of users"></mat-paginator>
                </div>
            </mat-expansion-panel-->
        </mat-accordion>
    </div>
</div>
<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" style="width: 100%;"
    *ngIf="seleccion && consulta?.subcontrato?.estado">
    <div class="seccionIzquierda" *ngIf="adminitrador">
        <button mat-raised-button color="warn" (click)="modificar()">
            Modificar
            <mat-icon>edit</mat-icon>
        </button>
    </div>
    <div class="seccionDerecha" *ngIf="adminitrador">
        <button mat-raised-button color="primary" (click)="pago()">
            Pagos
            <mat-icon>payments</mat-icon>
        </button>
    </div>
    <div class="seccionDerecha" *ngIf="!adminitrador">
        <button mat-raised-button class="amarillo" (click)="solicitar()">
            Solicitud servicio
            <mat-icon>send</mat-icon>
        </button>
    </div>
</div>