<!-- <p> {{data | json}} </p> -->
<h2 mat-dialog-title>Pago Anticipado</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="formulario">
    <div
      fxLayout="row"
      fxLayout.xs="column"
      fxLayoutAlign="center center"
      class="flex"
      >

      <div fxFlex="33%">
        <label>Pendiente por pagar: xxxx</label>
      </div>

      <div fxFlex="33%">
        <mat-form-field>
          <mat-label>Porcentaje Dcto</mat-label>
          <input matInput 
          formControlName="pago" />
        </mat-form-field>
      </div>

      <div fxFlex="33%">
        <mat-form-field>
          <mat-label>Valor</mat-label>
          <input matInput 
          formControlName="pago" />
        </mat-form-field>   
      </div>

      <div fxFlex="33%">
        
          <label>Total Descuento: xxxx</label>
        
      </div>

      
    </div>
  </form>
  <mat-dialog-actions >
    <button mat-button mat-dialog-close>Cancel</button>
    <button
      mat-button
      [disabled]="formulario.invalid"
      [mat-dialog-close]="true"
      
    >
      Confirmar
    </button>
  </mat-dialog-actions>
