mat-grid-tile {
    height: 60%;
}

mat-grid-list {
    height: auto;
    color: black;
}

/*div {
    border: 2px solid;
    border-color: red;
}*/

p,
h1 {
    text-align: center;
    font-weight: bold
}

h2 {
    text-align: right;
}

mat-form-field {
    width: 100%;
}

button {
    width: 100%
}