/*div {
    border: 2px solid;
    border-color: red;
}*/

.seccionIzquierda {
    text-align: center;
    font-weight: bold;
    text-align: center; padding: 3% 3% 3% 3%;
}

.seccionDerecha {
    text-align: center;
    padding: 2% 5% 2% 5%;
}

mat-form-field, button{
    width: 100%
}

.derecha {
    text-align: right;
}