<br />
<h1>Modificar afiliación</h1>
<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" class="flex">
    <div fxFlex="33%">
        <label># Contrato</label>
        <p>{{ consulta?.contrato?.id }}</p>
    </div>
    <div fxFlex="33%">
        <label>Documento</label>
        <p>{{ consulta?.cliente?.documento }}</p>
    </div>
    <div fxFlex="34%">
        <label>Estado</label>
        <p>{{ consulta?.contrato?.mora ? 'En mora' : 'Al día' }}</p>
    </div>
</div>
<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" style="width: 100%;">
    <div fxFlex="100%" class="contenido">
        <mat-tab-group animationDuration="0ms">
            <mat-tab label="Datos personales">
                <br>
                <form [formGroup]="formulario">
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" class="flex">
                        <div fxFlex="25%">
                            <mat-form-field>
                                <mat-icon matSuffix>badge</mat-icon>
                                <mat-label>Nombre completo</mat-label>
                                <input matInput placeholder="Nombre completo" formControlName="nombre_completo">
                            </mat-form-field>
                        </div>
                        <div fxFlex="25%">
                            <mat-form-field>
                                <mat-icon matSuffix>phone_iphone</mat-icon>
                                <mat-label>Celular</mat-label>
                                <input matInput placeholder="Celular" formControlName="celular">
                            </mat-form-field>
                        </div>
                        <div fxFlex="25%">
                            <mat-form-field>
                                <mat-icon matSuffix>call</mat-icon>
                                <mat-label>Telefono</mat-label>
                                <input matInput placeholder="Telefono" formControlName="telefono">
                            </mat-form-field>
                        </div>
                        <div fxFlex="25%">
                            <mat-form-field>
                                <mat-icon matSuffix>alternate_email</mat-icon>
                                <mat-label>Correo</mat-label>
                                <input matInput placeholder="Correo" formControlName="correo">
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" class="flex">
                        <div fxFlex="25%">
                            <mat-form-field>
                                <mat-icon matSuffix>home</mat-icon>
                                <mat-label>Dirección</mat-label>
                                <input matInput placeholder="Dirección" formControlName="direccion">
                            </mat-form-field>
                        </div>
                        <div fxFlex="25%">
                            <mat-form-field>
                                <mat-icon matSuffix>pin_drop</mat-icon>
                                <mat-label>Ciudad</mat-label>
                                <mat-select name="ciudad" formControlName="ciudad">
                                    <mat-option value="Bogota">Bogotá</mat-option>
                                    <mat-option value="Medellin">Medellin</mat-option>
                                    <mat-option value="Cali">Cali</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div fxFlex="25%">
                            <mat-form-field>
                                <mat-icon matSuffix>military_tech</mat-icon>
                                <mat-label>Grado</mat-label>
                                <input matInput placeholder="Grado" formControlName="grado">
                            </mat-form-field>
                        </div>
                        <div fxFlex="25%">
                            <mat-form-field>
                                <mat-icon matSuffix>tag</mat-icon>
                                <mat-label>Código</mat-label>
                                <input matInput placeholder="Código" formControlName="codigo">
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" class="flex">
                        <div fxFlex="25%">
                            <mat-form-field>
                                <mat-icon matSuffix>hub</mat-icon>
                                <mat-label>Pertenece</mat-label>
                                <mat-select name="dependencia" formControlName="dependencia">
                                    <mat-option value="EJC">Ejercito</mat-option>
                                    <mat-option value="FA">Fuerza aérea</mat-option>
                                    <mat-option value="PL">Policía</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div fxFlex="25%">
                            <mat-form-field>
                                <mat-icon matSuffix>Otro</mat-icon>
                                <input matInput placeholder="Otro">
                            </mat-form-field>
                        </div>
                        <div fxFlex="50%">
                        </div>
                    </div>
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" class="flex">
                        <div fxFlex="100%">
                            <mat-form-field>
                                <mat-icon matSuffix>forum</mat-icon>
                                <mat-label>Observaciones</mat-label>
                                <textarea matInput placeholder="Observaciones" rows="4"
                                    formControlName="observaciones"></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                </form>
            </mat-tab>
            <mat-tab label="Beneficiario">
                <div>
                    <table mat-table [dataSource]="dataSource" matSort>

                        <ng-container matColumnDef="nombre">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                            <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
                        </ng-container>

                        <ng-container matColumnDef="edad">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Edad </th>
                            <td mat-cell *matCellDef="let row"> {{row.edad}} años </td>
                        </ng-container>

                        <ng-container matColumnDef="parentesco">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Parentesco </th>
                            <td mat-cell *matCellDef="let row">
                                {{row.parentesco == 'p' ? 'Padre' : (row.parentesco == 'm' ? 'Madre' : (row.parentesco
                                == 'h' ? 'Hijo' : row.parentesco))}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="contacto">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Contacto </th>
                            <td mat-cell *matCellDef="let row"> {{row.contacto}} </td>
                        </ng-container>

                        <ng-container matColumnDef="emoji">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
                            <td mat-cell *matCellDef="let row"> <mat-icon matSuffix>{{row.emoji}}</mat-icon></td>
                        </ng-container>

                        <ng-container matColumnDef="editar">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                            <td mat-cell *matCellDef="let row; let i = index">
                                <button mat-mini-fab color="primary" (click)="modificarBeneficiario(row, i)">
                                    <mat-icon>edit</mat-icon>
                                </button>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="borrar">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                            <td mat-cell *matCellDef="let row; let i = index">
                                <button mat-mini-fab color="warn" (click)="eliminarBeneficiario(i)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </td>
                        </ng-container>


                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>

                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"
                        aria-label="Select page of users"></mat-paginator>
                </div>

                <div fxLayout="column" fxLayoutAlign="center center" style="width: 100%;">
                    <div fxFlex="100%">
                        <button mat-raised-button color="yellow" class="amarillo">
                            Nuevo beneficiario
                            <mat-icon>add</mat-icon>
                        </button>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Plan">
                <br><br>
                <div fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="25%">
                        <label>Fecha de inicio</label>
                        <p>{{ consulta?.contrato?.fecha_inicio | date:'dd/MM/yyyy' }}</p>
                    </div>
                    <div fxFlex="25%">
                        <label>Tipo de plan</label>
                        <p>{{ consulta?.contrato?.plan }}</p>
                    </div>
                    <div fxFlex="25%">
                        <label>Costo total</label>
                        <p>${{ consulta?.contrato?.valor | number:'1.2-2' }}</p>
                    </div>
                    <div fxFlex="25%">
                        <label># de cuotas</label>
                        <p>{{ consulta?.contrato?.cuotas }}</p>
                    </div>
                </div>
                <div fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="25%">
                        <label>Valor mensual</label>
                        <p>${{ consulta?.contrato?.valor / consulta?.contrato?.cuotas | number:'1.2-2' }}</p>
                    </div>
                    <div fxFlex="25%">
                        <label>Adjuntar soporte</label><br>
                        <input type="file">
                    </div>
                    <div fxFlex="50%">
                    </div>
                </div>
                <br>
                <div fxLayout="column" fxLayoutAlign="center end" style="width: 100%;">
                    <div fxFlex="100%">
                        <button mat-raised-button color="yellow" class="amarillo">
                            Cancelar contrato
                            <mat-icon>close</mat-icon>
                        </button>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>