<br />
<h1>Solicitud de Servicio</h1>


<br />
<br />

  <div style="display: flex; justify-content: space-between;">
    <div id="seccionIzquierda" style="width: 40%;">
      <section class="section">
          <h2>Tipo de Servicio</h2>
        </section>
        <section class="section">
          <span class="list-section">
            <mat-checkbox class="margin" 
                          [checked]="allComplete"
                          [color]="task.color"
                          [indeterminate]="someComplete()"
                          (change)="setAll($event.checked)">
              {{task.name}}
            </mat-checkbox>
          </span>
          <span class="example-list-section">
            <ul>
              <li *ngFor="let subtask of task.subtasks">
                <mat-checkbox [(ngModel)]="subtask.completed"
                              [color]="subtask.color"
                              (ngModelChange)="updateAllComplete()">
                  {{subtask.name}}
                </mat-checkbox>
              </li>
            </ul>
          </span>
        </section>
    </div>
    <div id="seccionDerecha" style="width: 50%;" [formGroup]="enviarSolicitud">
      <h2>Detalle del Servicio</h2>
        <mat-form-field appearance="fill" class="anchoAlto">
            <mat-label>Solicitud de servicio</mat-label>
            <textarea matInput formControlName="descripcionserv" rows="10" maxlength="2000" placeholder="Descripción de solicitud de servicio"></textarea>
        </mat-form-field>
    </div>
  </div>

  <div class="botones-container" style="display: flex; justify-content: flex-end;">
      <div>
        <button id="botonLimpiar" mat-raised-button color="primary" (click)="borrarTexto()">Limpiar</button>
      </div>
    
      <div>
        <button id="botonEnviar" mat-raised-button color="primary" [disabled]="validarformulario()">Enviar</button>
      </div>
  </div>
