<h2 mat-dialog-title>Beneficiario</h2>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="formulario">
        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" class="flex">
            <div fxFlex="33%">
                <mat-form-field>
                    <mat-label>Nombre completo</mat-label>
                    <input matInput placeholder="Nombre completo" formControlName="nombre">
                </mat-form-field>
            </div>
            <div fxFlex="33%">
                <mat-form-field>
                    <mat-label>Edad</mat-label>
                    <input matInput placeholder="Edad" formControlName="edad">
                </mat-form-field>
            </div>
            <div fxFlex="34%">
                <mat-form-field>
                    <mat-label>Parentesco</mat-label>
                    <mat-select name="Parentesco" formControlName="parentesco">
                        <mat-option value="h">Hijo</mat-option>
                        <mat-option value="p">Padre</mat-option>
                        <mat-option value="m">Madre</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" class="flex">
            <div fxFlex="33%">
                <mat-form-field>
                    <mat-label>Contacto</mat-label>
                    <input matInput placeholder="Contacto" formControlName="contacto">
                </mat-form-field>
            </div>
            <div fxFlex="33%">
                <mat-form-field>
                    <mat-label>Señal</mat-label>
                    <mat-select formControlName="emoji">
                        <mat-option value="local_hospital"><mat-icon>local_hospital</mat-icon></mat-option>
                        <mat-option value="local_florist"><mat-icon>local_florist</mat-icon></mat-option>
                        <mat-option value="gavel"><mat-icon>gavel</mat-icon></mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxFlex="34%">
            </div>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [disabled]="formulario.invalid" [mat-dialog-close]="true" (click)="confirmar()"
        cdkFocusInitial>Confirmar</button>
</mat-dialog-actions>